<?xml version="1.0"?>
<launch>

    <arg name="rviz"        default="false"/>
    <arg name="rtabmapviz"  default="true"/>
    <arg name="slam"        default="false"/>
    <arg name="rgbd"        default="false"/>
    <arg name="stereo"      default="true"/>

    <include file="$(find primo_rtabmap)/launch/rtab_init.launch"/>

    <!-- Visualization in rtabmap_viz -->
    <group if="$(arg rtabmapviz)">
        <include file="$(find primo_rtabmap)/launch/rtab_viz.launch">
            <arg name="rviz"        value="$(arg rviz)"/>
            <arg name="rtab_viz_stereo"  value="$(arg stereo)"/>
            <arg name="rtab_viz_rgbd"    value="$(arg rgbd)"/>
        </include>
    </group>


    <include if="$(arg stereo)" file="$(find primo_rtabmap)/launch/rtab_map_stereo.launch"/>
    <include if="$(arg rgbd)"   file="$(find primo_rtabmap)/launch/rtab_map_rgbd.launch"/>

    <include if="$(arg slam)"   file="$(find primo_rtabmap)/launch/rtab_slam.launch"/>

</launch>
