<?xml version="1.0"?>
<launch>

    <arg name="cam"             default="/stereo1"      />
    <arg name="odom_frame_id"   default="odom"          />
    <arg name="odom_topic"      default="/stereo1/odom" />
    <arg name="publish_tf"      default="false"         />

    <!-- Odometry -->
    <node ns="stereo_odom_1" pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen">

        <remap from="left/image_rect"       to="$(arg cam)/left/image_rect"                        />
        <remap from="right/image_rect"      to="$(arg cam)/right/image_rect"                       />
        <remap from="left/camera_info"      to="$(arg cam)/left/camera_info"                       />
        <remap from="right/camera_info"     to="$(arg cam)/right/camera_info"                      />
        <remap from="odom"                  to="$(arg odom_topic)"/>

        <param name="frame_id"                  type="string"   value="base_link"               />
        <param name="odom_frame_id"             type="string"   value="$(arg odom_frame_id)"    />
        <param name="approx_sync"               type="bool"     value="true"                    />
        <param name="queue_size"                type="int"      value="5"                       />
        <param name="publish_tf"                type="bool"     value="$(arg publish_tf)"       />
        <param name="publish_null_when_lost"    type="bool"     value="true"/>
        <param name="guess_frame_id"            type="boolean"  value="true"                  />

        <param name="Odom/Strategy"         type="string"   value="0"/> <!-- 0=BOW, 1=OpticalFlow -->
        <param name="Odom/EstimationType"   type="string"   value="1"/> <!-- 3D->2D (PnP) -->
        <param name="Odom/MinInliers"       type="string"   value="10"/>
        <param name="Odom/RoiRatios"        type="string"   value="0.03 0.03 0.04 0.04"/>
        <param name="Odom/MaxDepth"         type="string"   value="10"/>
        <param name="OdomBow/NNDR"          type="string"   value="0.8"/>
        <param name="Odom/MaxFeatures"      type="string"   value="1000"/>
        <param name="Odom/FillInfoData"     type="string"   value="true"/> <!-- This is for visualization -->
        <param name="GFTT/MinDistance"      type="string"   value="10"/>
        <param name="GFTT/QualityLevel"     type="string"   value="0.00001"/> 
        <param name="Vis/InlierDistance"    type="string"   value="0.1"                 />
        <param name="Vis/MinInliers"        type="string"   value="10"                  />
        <param name="Vis/RoiRatios"         type="string"   value="0.03 0.03 0.04 0.04" />
        <param name="Vis/MaxDepth"          type="string"   value="10"                  />

    </node>
</launch>
