<?xml version="1.0"?>
<launch>

    <arg name="rviz"            default="false"/>

  	<!-- Create a rotated camera link that has the correct rtab reference frame -->
  	<arg name="pi/2" value="" />
  	<node pkg="tf" type="static_transform_publisher" name="stereo1_corrected_link_node"
      args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 stereo1_link stereo1_corrected_link 100"/>
      

</launch>
