<?xml version="1.0"?>
<launch>

    <arg name="rviz"        default="false"/>
    <arg name="rtabmapviz"  default="true"/>
    <arg name="slam"        default="false"/>
    <arg name="rgbd"        default="false"/>
    <arg name="stereo"      default="true"/>
    <arg name="odom_topic"  default="odom"/>

    <include file="$(find primo_rtabmap)/launch/rtab_init.launch"/>

    <include if="$(arg slam)"   file="$(find primo_rtabmap)/launch/rtab_slam.launch"/>

    <!-- Visualization in rtabmap_viz -->
    <group if="$(arg rtabmapviz)">
        <include file="$(find primo_rtabmap)/launch/rtab_viz.launch">
            <arg name="rviz"                value="$(arg rviz)"/>
            <arg name="rtab_viz_stereo"     value="$(arg stereo)"/>
            <arg name="rtab_viz_rgbd"       value="$(arg rgbd)"/>
            <arg name="odom_topic"          value="$(arg odom_topic)"/>
        </include>
    </group>


    <include if="$(arg stereo)" file="$(find primo_rtabmap)/launch/rtab_map_stereo.launch">
        <arg name="odom_topic"  value="$(arg odom_topic)"/>
    </include>

    <include if="$(arg rgbd)"   file="$(find primo_rtabmap)/launch/rtab_map_rgbd.launch"/>


</launch>
