<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="primo">

    <xacro:include filename="$(find primo_description)/urdf/macros/stereo.xacro"/>
    <xacro:include filename="$(find primo_description)/urdf/macros/zed_addon.xacro"/>
    <xacro:include filename="$(find primo_description)/urdf/macros/camera_align.xacro"/>
    <xacro:include filename="$(find primo_description)/urdf/macros/color.xacro"/>

    <xacro:property name="a" value="${load_yaml('align.yaml')}" />

    <!-- Cameras -->
    <!-- Tara 0 -->
    <xacro:m_camera_align 
        type=   "stereo"
        num=    "0" 
        x=      "${a['a_s0_x']}"         
        y=      "${a['a_s0_y']}" 
        z=      "${a['a_s0_z']}" 
        roll=   "${a['a_s0_roll']}" 
        pitch=  "${a['a_s0_pitch']}" 
        yaw=    "${a['a_s0_yaw']}"
    />



    <!-- This adds some dummy connections -->
    <!-- <xacro:m_zed_addon num="3"/> -->

</robot>
