<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="primo">

  <!-- File includes -->
  <xacro:include filename="$(find primo_description)/urdf/macros/chassis.xacro"/>
  <xacro:include filename="$(find primo_gazebo)/urdf/sim_main.xacro"/>

  <!-- Bot description -->
  <xacro:m_chassis type="sim"/>
  <xacro:m_wheel lr="left" reflect="1"/>
  <xacro:m_wheel lr="right" reflect="-1"/>

  <xacro:m_sim_tail/>

  <!-- Sensor suite -->

  <xacro:include filename="$(find primo_description)/urdf/stereo_suite.xacro"/>

  <xacro:include filename="$(find primo_description)/urdf/macros/imu.xacro"/>
  <xacro:m_imu/>

</robot>
