<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="primo">

    <xacro:include filename="$(find primo_description)/urdf/macros/stereo_taras.xacro"/>

    <xacro:m_stereo num="0" x="-0.04" y="0.20" z="1.60" r="-2.895" p="-0.093" y="-0.637"/>
    <xacro:m_stereo num="1" x="-0.04" y="0.20" z="1.60" r="-2.895" p="-0.093" y="-0.637"/>

</robot>
