<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="primo">

    <xacro:include filename="$(find primo_description)/urdf/macros/stereo.xacro"/>

    <xacro:m_stereo num="0" 
        x=      " 0.040" 
        y=      "-0.216" 
        z=      " 1.790" 
        roll=   "-2.920" 
        pitch=  " 0.101" 
        yaw=    "-2.402"
    />

    <xacro:m_stereo num="1" 
        x=      "-0.036" 
        y=      " 0.265" 
        z=      " 1.76" 
        roll=   "-2.991" 
        pitch=  "-0.025" 
        yaw=    "-0.763"
    />

    <xacro:m_stereo num="2" 
        x=      "-0.036" 
        y=      " 0.075" 
        z=      " 1.160" 
        roll=   "-1.571" 
        pitch=  " 0.000"
        yaw=    "-1.571"
    />

    <!-- Calibration Joints. Enable these if you want 6DOF gui adj. of the
         stereo cam. To use this, you have to disable the m_stereo macro and just
         have this one running. -->
    <xacro:include filename="$(find primo_description)/urdf/macros/stereo_cal.xacro"/>
    <!-- <xacro:m_stereo_cal num="2"/> -->

</robot>
