<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find primo_gazebo)/urdf/sim_controller.xacro"/>

    <xacro:include filename="$(find primo_gazebo)/urdf/sim_wheels.xacro"/>

    <xacro:include filename="$(find primo_gazebo)/urdf/sim_stereo.xacro"/>



</robot>
