<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo wheel reference -->
    <gazebo reference="tail_wheel">
        <mu1 value="10.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>
      
    <gazebo reference="right_wheel">
        <mu1 value="200.0"/>
        <mu2 value="100.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <mu1 value="200.0"/>
        <mu2 value="100.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

</robot>
