<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find primo_gazebo)/urdf/sim_controller.xacro"/>

    <xacro:include filename="$(find primo_gazebo)/urdf/sim_wheels.xacro"/>

    <xacro:include filename="$(find primo_gazebo)/urdf/sim_stereo.xacro"/>

    <xacro:m_sim_stereo_tara    num="0"/>
    <xacro:m_sim_stereo_tara    num="1"/>
    <xacro:m_sim_stereo_see3cam num="2"/>


</robot>
