<launch>
    <!-- The following are parameters that setup packages of the differential_drive
         controller. See http://wiki.ros.org/differential_drive for details.
    -->

    <!-- Defining global parameters -->
    <!-- <param name="ticks_meter" value="67668"/> -->
    <param name="ticks_meter" value="69000"/>
    <param name="encoder_min" value="-32768"/>
    <param name="encoder_max" value="32768"/>
    <param name="vel_threshold" value="0.001"/>

    <!-- Some arguments that are common to multiple node -->
    <arg name="Kp" default="1500"/>
    <arg name="Ki" default="4000"/>
    <arg name="Kd" default="0.500"/>
    <arg name="out_min" default="-2047"/>
    <arg name="out_max" default="2048"/>
    <arg name="rate" default="30"/>
    <arg name="rolling_pts" default="4"/>
    <arg name="timeout_ticks" default="5000"/>
    <arg name="base_width" default="0.635"/>

    <!-- The transform publisher -->
    <!-- <node pkg="differential_drive" type="diff_tf.py" name="diff_tf"> -->
    <!--     <remap from="lwheel" to="encoder_left"/> -->
    <!--     <remap from="rwheel" to="encoder_right"/> -->
    <!--     <param name="rate" value="30"/> -->
    <!--     <param name="base_width" value="$(arg base_width)"/> -->
    <!--     <param name="base_frame_id" value="base_link"/> -->
    <!--     <param name="odom_frame_id" value="/odom"/> -->
    <!-- </node> -->

    <!-- PID This is the cpp version -->
    <node pkg="differential_drive" type="pid_velocity" name="right_wheel_pid" output="screen">
        <remap from="wheel" to="encoder_right"/>
      	<remap from="motor_cmd" to="rmotor_cmd_float32"/>
        <remap from="motor_cmd_int16" to="sabertooth/right"/>
		<remap from="wheel_vtarget" to="rwheel_vtarget"/>
      	<remap from="wheel_vel" to="rwheel_vel"/>
		<param name="Kp" value="$(arg Kp)"/>
        <param name="Ki" value="$(arg Ki)"/>
        <param name="Kd" value="$(arg Kd)"/>
        <param name="out_min" value="$(arg out_min)"/>   <!-- Sabertooth 2x32 plain text serial -->
        <param name="out_max" value="$(arg out_max)"/>    <!-- Sabertooth 2x32 plain text serial -->
        <param name="rate" value="$(arg rate)"/>
        <param name="rolling_pts" value="$(arg rolling_pts)"/>
        <param name="timeout_ticks" value="$(arg timeout_ticks)"/>
    </node>

    <node pkg="differential_drive" type="pid_velocity" name="left_wheel_pid">
        <remap from="wheel" to="encoder_left"/>
        <remap from="motor_cmd" to="lmotor_cmd_float32"/>
        <remap from="motor_cmd_int16" to="sabertooth/left"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>  
        <param name="Kp" value="$(arg Kp)"/>
        <param name="Ki" value="$(arg Ki)"/>
        <param name="Kd" value="$(arg Kd)"/>
        <param name="out_min" value="$(arg out_min)"/>   <!-- Sabertooth 2x32 plain text serial -->
        <param name="out_max" value="$(arg out_max)"/>    <!-- Sabertooth 2x32 plain text serial -->
        <param name="rate" value="$(arg rate)"/>
        <param name="rolling_pts" value="$(arg rolling_pts)"/>
        <param name="timeout_ticks" value="$(arg timeout_ticks)"/>
    </node>

    <!-- twist_to_motors -->
    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors">
        <param name="base_width" value="$(arg base_width)"/>
        <param name="rate" value="30" />
        <param name="timeout_ticks" value="2"/>
    </node>

    <!-- The joystick -->
    <!-- <node pkg="differential_drive" type="virtual_joystick.py" name="virtual_joystick"> -->
    <!--     <param name="publish_rate" value="20"/> -->
    <!--     <param name="x_min" value="&#45;1.50"/> -->
    <!--     <param name="x_max" value="1.50"/> -->
    <!--     <param name="r_min" value="&#45;10.0"/> -->
    <!--     <param name="r_max" value="10.0"/> -->
    <!-- </node>   -->

  <!--FAKE RIGHT WHEEL -->
    <!-- <node pkg ="differential_drive" type="wheel_loopback.py" name="rwheel_fake" > -->
        <!-- <remap from="motor" to="rmotor_cmd"/> -->
		<!-- <remap from="wheel" to="rwheel"/> -->
    <!-- </node> -->

  <!--FAKE LEFT WHEEL -->
    <!-- <node pkg ="differential_drive" type="wheel_loopback.py" name="lwheel_fake" > -->
		<!-- <remap from="motor" to="lmotor_cmd"/> -->
		<!-- <remap from="wheel" to="lwheel"/> -->
    <!-- </node> -->

</launch>
