<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- joy node that loads the driver that interfaces ROS to the joystick -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0"/>
        <param name="deadzone" value="0.25"/>
        <param name="autorepeat_rate" value="30"/>
    </node>
  
    <!-- Twist node that converts joystick messages to velocity commands -->
    <node pkg="teleop_twist_joy" type="teleop_node" name="joy_twist" output="screen">
        <!-- <remap from="cmd_vel" to="raw_cmd_vel"/> -->
        <param name="axis_linear" value="1"/>
        <param name="axis_angular" value="0"/>
        <param name="enable_button" value="0"/>
        <param name="enable_turbo_button" value="1"/>
        <param name="scale_linear" value="0.25"/>
        <param name="scale_angular" value="0.5"/>
        <param name="scale_linear_turbo" value="1.5"/>
        <param name="scale_angular_turbo" value="1.5"/>
    </node>

    <!-- Joystick Manager that handles the rest of the buttons and other
         joystick functionality -->
    <node pkg="primo_base" type="joy_manager" name="joy_manager" output="screen"/>

</launch>
