<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="camSize" value="0.05"/>
    <xacro:property name="camMass" value="0.1"/>

    <!-- stereo cam macro -->
    <xacro:macro name="m_camera" params="type num x y z roll pitch yaw">

        <!-- this name is required for the point cloud -->
        <link name="${type}${num}_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${camSize} ${camSize} ${camSize}"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${camSize} ${camSize} ${camSize}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <inertial>
                <mass value="${camMass}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia 
                    ixx="1e-6" ixy="0" ixz="0" 
                    iyy="1e-6" iyz="0" 
                    izz="1e-6"/>
            </inertial>
        </link>

        <!-- The camera joint -->
        <joint name="${type}${num}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
            <parent link="chassis_link"/>
            <child link="${type}${num}_link"/>
        </joint>

        <!-- The corrected link for gazebo -->
        <link name="${type}${num}_corrected_link">
            <inertial>
                <mass value="0"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia 
                    ixx="1e-6" ixy="0" ixz="0" 
                    iyy="1e-6" iyz="0" 
                    izz="1e-6"/>
            </inertial>
        </link>

        <joint name="${type}${num}_corrected_joint" type="fixed">
            <origin xyz="0 0 0" rpy="1.57079632679 -1.5707963267 0"/>
            <parent link="${type}${num}_link"/>
            <child link="${type}${num}_corrected_link"/>
        </joint>

    </xacro:macro>
</robot>
