<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="stereocamSize" value="0.05"/>
    <xacro:property name="stereocamMass" value="0.1"/>

    <!-- stereo cam macro -->
    <xacro:macro name="m_stereo" params="num x y z r p y">

        <!-- this name is required for the point cloud -->
        <link name="stereo${num}_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${stereocamSize} ${stereocamSize} ${stereocamSize}"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${stereocamSize} ${stereocamSize} ${stereocamSize}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <inertial>
                <mass value="${stereocamMass}"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia 
                    ixx="1e-6" ixy="0" ixz="0" 
                    iyy="1e-6" iyz="0" 
                    izz="1e-6"/>
            </inertial>
        </link>

        <!-- The stereo joint -->
        <joint name="stereo${num}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${y}"/>
            <parent link="chassis_link"/>
            <child link="stereo${num}_link"/>
        </joint>

        <!-- The corrected link for gazebo -->
        <link name="stereo${num}_corrected_link">
            <inertial>
                <mass value="0"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia 
                    ixx="1e-6" ixy="0" ixz="0" 
                    iyy="1e-6" iyz="0" 
                    izz="1e-6"/>
            </inertial>
        </link>

        <joint name="stereo${num}_corrected_joint" type="fixed">
            <origin xyz="0 0 0" rpy="1.57079632679 -1.5707963267 0"/>
            <parent link="stereo${num}_link"/>
            <child link="stereo${num}_corrected_link"/>
        </joint>

    </xacro:macro>
</robot>
