<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- color cam macro -->
    <xacro:macro name="m_color_yolo" params="num">

        <!-- The link for darknet renamed with the right frame id -->
        <link name="detection_image">
            <inertial>
                <mass value="0"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia 
                    ixx="1e-6" ixy="0" ixz="0" 
                    iyy="1e-6" iyz="0" 
                    izz="1e-6"/>
            </inertial>
        </link>

        <joint name="color${num}_yolo" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="color${num}_link"/>
            <child link="detection_image"/>
        </joint>

    </xacro:macro>
</robot>
