<?xml version="1.0"?>
<launch>
    <!-- this is a master launch file for the process pipeline of sidelooking
         stereo cameres
    -->
    
    <arg name="rate"        default="10"/>
    <arg name="filter"      default="true"/>
    <arg name="throttle"    default="true"/>
    <arg name="mask"        default="true"/>
    <arg name="x_pos"       value=" 0.50"/>
    <arg name="x_neg"       value="-0.50"/>
    <arg name="y_pos"       value=" 0.38"/>
    <arg name="y_neg"       value="-0.38"/>

    <include file="$(find primo_stereo)/launch/stereo0_proc.launch">
        <arg name="filter"      value="$(arg filter)"/>
        <arg name="rate"        value="$(arg rate)"/>
        <arg name="throttle"    value="$(arg throttle)"/>
        <arg name="mask"        value="$(arg mask)"/>
    </include>

    <include file="$(find primo_stereo)/launch/stereo1_proc.launch">
        <arg name="filter"      value="$(arg filter)"/>
        <arg name="rate"        value="$(arg rate)"/>
        <arg name="throttle"    value="$(arg throttle)"/>
        <arg name="mask"        value="$(arg mask)"/>
    </include>

    <include file="$(find primo_stereo)/launch/stereo2_proc.launch">
        <arg name="filter"      value="$(arg filter)"/>
        <arg name="mask"        value="false"/>
    </include>

    <include file="$(find primo_stereo)/launch/stereo3.launch">
    </include>

</launch>
