<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node ns="stereo0" pkg="uvc_camera" type="tara_node" name="uvc_camera" output="screen" required="true">
        <param name="width" type="int" value="640"/>
        <param name="height" type="int" value="480"/>
        <param name="fps" type="int" value="30"/>
        <param name="frame" type="string" value="stereo0_link"/>
        <param name="frame_id" type="string" value="stereo0_link"/>
        <param name="device" type="string" value="/dev/video0"/>
        <param name="exposureValue" type="int" value="1"/>

        <param name="cameraLeft_info_url" type="string" value="package://primo_stereo/config/stereo0/left.yaml"/>
        <param name="cameraRight_info_url" type="string" value="package://primo_stereo/config/stereo0/right.yaml"/>
        <!-- <param name="cameraRight_info_url" type="string" value="file:///home/paul/td1_ros/catkin_ws/src/tara/include/right.yaml"/> -->
    </node>


    <group ns="/stereo0">
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"/>
        <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager"/>

        <node pkg="nodelet" type="nodelet" name="disparity"
            args="load stereo_image_proc/disparity nodelet_manager"/>

        <node pkg="nodelet" type="nodelet" name="point_cloud"
            args="load stereo_image_proc/point_cloud2 nodelet_manager"/>
    </group>

  <!-- <node name="record_topics_for_verification" pkg="rosbag" type="record" args="/stereo/left/camera_info /stereo/right/camera_info /stereo/right/image_rect /stereo/left/image_rect" output="screen"/> -->

</launch>
