<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="filter"      default="true"/>

    <rosparam file="$(find primo_stereo)/config/stereo.yaml" command="load"/>

    <group ns="/stereo0" >
        <include file="$(find primo_stereo)/launch/stereo_nodelet.launch">
            <arg name="node_space"     value="/stereo0"/>
        </include>

        <include if="$(arg filter)" file="$(find primo_stereo)/launch/filter_box.launch">
            <arg name="nodelet_manager" value="/stereo0/nodelet_manager"/>
            <arg name="points_topic"    value="/stereo0/points2"/>
            <arg name="x_pos"           value="0.5"/>
            <arg name="x_neg"           value="-0.5"/>
            <arg name="y_pos"           value="0.38"/>
            <arg name="y_neg"           value="-0.38"/>
        </include>
    </group>

</launch>
