<launch>

    <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>

    <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen" >
        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml" command="load" ns="explore_costmap" />
        <rosparam file="$(find primo_nav)/config/costmap_exploration.yaml" command="load" ns="explore_costmap" />
    </node>

</launch>
