<?xml version="1.0"?>
<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find primo_nav)/maps/map0/map.yaml"/>
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

      <!-- Place map frame at odometry frame -->
        <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
                  args="0 0 0 0 0 0 map odom 100"/>

</launch>
