<?xml version="1.0"?>
<launch>

    <remap from="map" to="/grid_map"/>
    <remap from="move_base_simple/goal" to="/planner_goal"/>

    <!-- <include file="$(find primo_nav)/launch/map_transform.launch"/> -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml"     command="load" ns="global_costmap"/>
        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml"     command="load" ns="local_costmap"/>
        <rosparam file="$(find primo_nav)/config/local_costmap_params.yaml"      command="load"/>
        <rosparam file="$(find primo_nav)/config/global_costmap_params.yaml"     command="load"/>

        <!-- LOAD COSTMAP_CONVERTER PARAMETERS HERE -->
        <rosparam file="$(find primo_nav)/config/costmap_converter_params.yaml" command="load" />       

        <rosparam file="$(find primo_nav)/config/base_local_planner_params.yaml" command="load"/>

        <param name="base_local_planner"        value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency"      value="7.0" />
        <param name="recovery_behavior_enabled" value="true" />
        <param name="clearing_rotation_allowed" value="true" />

        <remap from="/cmd_vel"      to="/raw_cmd_vel"/>

    </node>

</launch>
