<?xml version="1.0"?>
<launch>

    <remap from="map" to="/grid_map"/>

    <!-- <arg name="lanes_file" default="$(find primo_nav)/lanes/shop_lanes.yaml"/> -->
    <arg name="lanes_file" default="$(find primo_nav)/lanes/test.yaml"/>

    <!-- <remap from="move_base_simple/goal" to="/planner_goal"/> -->
    <remap from="move_base_simple/goal" to="/goal_out"/>

    <node pkg="map_server" type="map_server" name="map_server" args="$(arg lanes_file)">
        <remap from="map" to="map_mod"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <!-- Send the output to the velocity smoother -->
        <remap from="cmd_vel" to="raw_cmd_vel"/>

        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml"     command="load" ns="global_costmap"/>
        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml"     command="load" ns="local_costmap"/>
        <rosparam file="$(find primo_nav)/config/local_costmap_params.yaml"      command="load"/>
        <rosparam file="$(find primo_nav)/config/global_costmap_params.yaml"     command="load"/>

        <rosparam file="$(find primo_nav)/config/base_local_planner_params.yaml" command="load"/>

    </node>

</launch>
