<?xml version="1.0"?>
<launch>

    <arg name="mod" default="false"/>

    <remap from="map" to="/grid_map"/>

    <!-- <arg name="lanes_file" default="$(find primo_nav)/lanes/shop_lanes.yaml"/> -->
    <arg name="lanes_file" default="$(find primo_nav)/maps/sim_map.yaml"/>

    <!-- <remap from="move_base_simple/goal" to="/planner_goal"/> -->
    <remap from="move_base_simple/goal" to="/goal_out"/>

    <node if="$(arg mod)" pkg="map_server" type="map_server" name="map_server" args="$(arg lanes_file)">
        <remap from="map" to="map_mod"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <!-- Send the output to the velocity smoother -->
        <remap from="cmd_vel" to="raw_cmd_vel"/>
        <!-- <remap from="cmd_vel" to="you_aint_goin_NOWHERES"/> -->

        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml"        command="load" ns="global_costmap"/>
        <rosparam file="$(find primo_nav)/config/costmap_common_params.yaml"        command="load" ns="local_costmap"/>
        <rosparam file="$(find primo_nav)/config/local_costmap_params.yaml"         command="load"/>
        <rosparam file="$(find primo_nav)/config/global_costmap_params.yaml"        command="load"/>

        <rosparam file="$(find primo_nav)/config/base_local_planner_params.yaml"    command="load"/>
        <rosparam file="$(find primo_nav)/config/base_global_planner.yaml"     command="load"/>

		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

    </node>

</launch>
