<?xml version="1.0"?>
<launch>

    <include file="$(find primo_description)/launch/primo_urdf_real.launch"/>
    <include file="$(find primo_base)/launch/ard_enc.launch"/>
    <include file="$(find primo_base)/launch/joy_twist.launch"/>

    <include file="$(find primo_base)/launch/diff_drive.launch">
        <arg name="wheel_odom" value="true"/>
    </include>

    <include file="$(find primo_base)/launch/vel_smooth.launch"/>
    <node pkg="sabertooth_simple" type="sabertooth_simple" name="sabertooth"/>
    <include file="$(find primo_base)/launch/power_sensor.launch"/>

    <include file="$(find primo_stereo)/launch/stereo0.launch"/>
    <include file="$(find primo_stereo)/launch/stereo1.launch"/>

    <!-- <include file="$(find primo_rtabmap)/launch/rtab_master.launch"/> -->
    <!-- <include file="$(find primo_rtabmap)/launch/ground_segmenter.launch"/> -->

</launch>
