<?xml version="1.0"?>
<launch>

    <arg name="nav"         value="false"/>
    <arg name="joy"         value="true"/>

    <include file="$(find primo_description)/launch/primo_urdf_real.launch"/>
    <include file="$(find primo_base)/launch/ard_enc.launch"/>

    <node pkg="sound_play" type="soundplay_node.py" name="soundplay"/>

    <include if="$(arg joy)" file="$(find primo_base)/launch/joy.launch"/>

    <include file="$(find primo_base)/launch/diff_drive.launch">
        <arg name="PID"         value="true"/>
        <arg name="twist"       value="true"/>
    </include>

    <include file="$(find primo_base)/launch/vel_smooth.launch"/>

    <node pkg="sabertooth_simple" type="sabertooth_simple" name="sabertooth"/>

    <!-- <include file="$(find primo_base)/launch/power_sensor.launch"/> -->
    
</launch>
