<?xml version="1.0"?>
<launch>

    <arg name="nav"         default="false"/>
    <arg name="joy"         default="false"/>
    <arg name="use_gui"     default="false"/>

    <include file="$(find primo_description)/launch/primo_urdf_real.launch">
        <arg name="onlyRoboDes"     default="false"/>
        <arg name="use_gui"         default="$(arg use_gui)"/>
    </include>
    <include file="$(find primo_base)/launch/ard_enc.launch"/>

    <node pkg="sound_play" type="soundplay_node.py" name="soundplay"/>

    <include if="$(arg joy)" file="$(find primo_base)/launch/joy.launch"/>

    <include file="$(find primo_base)/launch/diff_drive.launch">
        <arg name="PID"         value="true"/>
        <arg name="twist"       value="true"/>
    </include>

    <include file="$(find primo_base)/launch/vel_smooth.launch"/>

    <node pkg="sabertooth_simple" type="sabertooth_simple" name="sabertooth"/>

    <include file="$(find primo_base)/launch/stereo_trigger.launch"/>
    <!-- <include file="$(find primo_base)/launch/power_sensor.launch"/> -->

    <include file="$(find primo_base)/launch/color0.launch"/>
    
</launch>
