<?xml version="1.0"?>
<launch>

    <include file="$(find primo_bringup)/launch/base_alpha.launch"/>
    <include file="$(find primo_bringup)/launch/stereo_bare.launch"/>
    <include file="$(find primo_stereo)/launch/stereo_suite.launch"/>

    <include file="$(find primo_base)/launch/color0.launch"/>
    
</launch>
