<?xml version="1.0"?>
<launch>
    <include if="true" file="$(find primo_base)/launch/diff_drive.launch">
        <arg name="wheel_odom"  value="true"/>
        <arg name="publish_tf"  value="false"/>
        <arg name="PID"         value="false"/>
        <arg name="twist"       value="false"/>
        <arg name="odom_topic"  value="/wheel/odom"/>
    </include>
</launch>
