<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true"/>
    <!-- args to passed through -->
    <arg name="sim"                         default="false"/>
    <arg name="localize"                    default="true"/>
    <arg name="del_db"                      default="false"/>
    <arg name="rtabmapviz"                  default="false"/>
    <arg name="rgbd"                        default="true"/>
    <arg name="laser"                       default="false"/>
    <arg name="stereo"                      default="false"/>
    <arg name="odom_topic"                  default="odom"/>
    <arg name="detectionRate"               default="1"/>
    <arg name="rangeMax"                    default="2"/>
    <arg name="maxError"                    default="3"/>
    <arg name="odom_listen_topic_rtabmap"   value="/odometry/filtered"/>

    <!-- Module enable -->
    <arg name="enable_rtabmap"                 default="true"/>

    <!-- Module: Rtabmap -->
    <group if="$(arg enable_rtabmap)">
        <include file="$(find primo_rtabmap)/launch/rtab_master.launch">
            <arg name="rtabmapviz"      value="true" />
            <arg name="stereo"          value="false" />
            <arg name="rgbd"            value="true" />
            <arg name="laser"           value="false" />
            <arg name="odom_topic"      value="$(arg odom_listen_topic_rtabmap)"/>
            <arg name="localize"        value="$(arg localize)"/>
            <arg name="sim"             value="$(arg sim)"/>
            <arg name="maxError"        value="$(arg maxError)"/>
            <arg name="rangeMax"        value="$(arg rangeMax)"/>

            <arg if="$(arg del_db)"     name="rtab_args"       value="--delete_db_on_start"/>
            <arg unless="$(arg del_db)" name="rtab_args"       value=""/>
        </include>
    </group>
</launch>
