<?xml version="1.0"?>
<launch>
    <include file="$(find primo_rtabmap)/launch/rtab_master.launch">
        <arg name="slam"        value="false"/>
        <arg name="rtabmapviz"  value="true" />
        <arg name="stereo"      value="true" />
        <arg name="rgbd"        value="false" />
    </include>
</launch>
