<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true"/>

    <node pkg="rviz" type="rviz" name="rviz" 
        args="-d $(find primo_bringup)/config/stereo_test.rviz"/>

    <include file="$(find primo_description)/launch/primo_urdf_sim.launch"/>
    <include file="$(find primo_gazebo)/launch/primo_gazebo.launch"/>

    <include file="$(find primo_stereo)/launch/stereo0.launch">
        <arg name="stereo_real" value="false"/>
    </include>

    <include file="$(find primo_stereo)/launch/stereo1.launch">
        <arg name="stereo_real" value="false"/>
    </include>

    <!-- These let us control the sim robot with the joystick -->
    <include file="$(find primo_base)/launch/joy_twist.launch"/>
    <include file="$(find primo_base)/launch/vel_smooth.launch"/>

    <include file="$(find primo_rtabmap)/launch/rtab_master.launch">
        <arg name="slam" value="false"/>
    </include>

</launch>
