<?xml version="1.0"?>
<launch>

    <!-- 
         This launch file was used to simulate the wheel encoders to test the updated
         diff_tf 
    -->

    <include file="$(find primo_description)/launch/primo_urdf_sim.launch"/>

    <include file="$(find primo_gazebo)/launch/primo_gazebo.launch">
        <!-- <arg name="world"       value="empty.world"/>  -->
        <arg name="world"       value="bat_cave.world"/> 
        <arg name="rviz"        value="false"/>
        <arg name="publish_tf"  value="false"/>
    </include>

    <!-- Generate encoder data -->
    <node pkg="primo_gazebo" type="sim_wheel_encoders.py" name="encoder_sim"/>

    <node pkg="sound_play" type="soundplay_node.py" name="soundplay"/>

    <!-- These let us control the sim robot with the joystick -->
    <include file="$(find primo_base)/launch/joy.launch"/>
    <include file="$(find primo_base)/launch/vel_smooth.launch"/>


    <include file="$(find primo_base)/launch/diff_drive.launch">
        <arg name="PID"         value="false"/>
        <arg name="twist"       value="false"/>
    </include>

    <!-- Stereo Cam stuff -->
    <group if="true">
        <include file="$(find primo_stereo)/launch/stereo0.launch">
            <arg name="stereo_real" value="false"/>
        </include>

        <include file="$(find primo_stereo)/launch/stereo1.launch">
            <arg name="stereo_real" value="false"/>
        </include>
    </group>

</launch>
