<?xml version="1.0"?>
<launch>

    <arg name="onlyRoboDes"     default="false"/>
    <arg name="use_gui"         default="false"/>

    <param name="robot_description" 
        command="$(find xacro)/xacro --inorder '$(find primo_description)/urdf/primo_real.xacro' prefix:=$(arg align_s0)"/>

    <group unless="$(arg onlyRoboDes)">
        <!-- Combine joint values -->
        <node name="robot_state_publisher" pkg="robot_state_publisher"
            type="robot_state_publisher">
            <!-- Added this on 8/22/17 cause the static transforms stopped showing up -->
            <param name="use_tf_static" value="false"/> 
        </node>

        <node name="joint_state_publisher" pkg="joint_state_publisher"
            type="joint_state_publisher"> 
            <param name="use_gui" value="$(arg use_gui)"/> 
        </node>
    </group>

</launch>
